/.vscode
/arrays
/arrays.cpp
/basic.cpp
/basiccalculator
/bettercalculator
/class
/constructor
/constructor.cpp
/datatypes
/datatypes.cpp
/functions
/functions.cpp
/guessinggame
/helloworld
/if
/madlibsgame
/numbers
/numbers.cpp
/return
/return.cpp
/strings
/strings.cpp
/switch
/triangle
/triangle.cpp
/userinput
/userinput.cpp
/variable
/variable.cpp
/while
/while.cpp